@model List<UserManagemetn.Models.Books>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>

        h1 {
            position: absolute;
            left: 0px;
        }

        .jumbotron {
            background-color: azure;
            padding: 30px;
        }

        body {
            background-color: transparent;
        }

        ul.a {
            list-style-type: circle;
            color: dodgerblue;
        }



        th, td {
            text-align: center;
            height: 50px;
            font-family: "Times New Roman";
            font-size: medium;
        }

        #search {
            position: relative;
            right: 0%;
            width: 30%;
            height: 40px;
            font-size: 20px;
            font-weight: 200;
            font-family: "Times New Roman";
        }

        .pagination {
            position:relative;
            left:10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-12 form-inline">
            <div><h1>All books list</h1></div>
            <br />
            <br />
            <br />
            <hr />

            <div>
                <div class="panel panel-default">
                    <button id="search" type="button" class="btn btn-default navbar-right" aria-label="Left Align"> @Html.ActionLink("Search books", "SearchBook") </button>
                    <div class="panel-heading, well">

                    </div>
                    <table class="table" style="position:center;width:1000px">
                        <tr>
                            <th>Book ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>

                        @foreach (var book in this.Model)
                        {
                            <tr>
                                <td>@book.Id</td>
                                <td>@book.Name</td>
                                <td>@book.Price</td>
                                <td>@Html.ActionLink("Edit", "Edit", new { id = book.Id })</td>
                                <td>@Html.ActionLink("Delete", "Delete", new { id = book.Id })</td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
            <nav>
                <ul class="pagination">

                    @for (int i = 1; i <= ViewBag.MaxPageNumber; i++)
                    {
                        <li>@Html.ActionLink("Page " + i.ToString() + " ", "Show", new { pageNumber = i })  </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>
